/* ---------- Reset Defaults ---------- */

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

/* ---------- Basic Styling ---------- */

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  color: #333;
}

/* ---------- Container ---------- */

/* .container {
  
} */

/* ---------- Nav Bar Background ---------- */

.nav-bar {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #262626;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  padding: 35px;
}

/* ---------- Navigation ---------- */

.navigation {
  flex-grow: 1;
}

.nav-row {
  display: flex;
  display: inline-block;
  margin-left: 40px;
  position: relative;
}

.nav-item {
  text-decoration: none;
  color: #bdbdbd;
  font-size: 18px;
  margin-left: 24px;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-item:hover {
  color: white;
}

.nav-indicator {
  bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  transition: all 300ms ease-in-out;
}

.nav-item:hover ~ .nav-indicator {
  width: 100%;
  left: 0%;
  background-color: white;
}

.contact-button {
  border: none;
  background: linear-gradient(270deg, #FFE86C 0%, #FAA245 37.25%, #EB8174 100%);
  padding: 10px 36px;
  border-radius: 50px;
  color: white;
}

.contact-button:focus {
  outline: none;
}

/* ---------- End of Navigation ---------- */

main {
  margin-top: 115px;
}

/* ---------- Hero Section ---------- */

.hero-section {
  background-color: lightgray;
}

.hero-title {
  font-size: 52px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.hero-text {
  color: #828282;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 40px;
  max-width: 600px;
}

.projects-button {
  font-weight: 500;
  padding: 10px 36px;
  border-radius: 50px;
  border: 1px solid #e0e0e0;
  background: transparent;
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(180deg, #FFE86C 0%, #FAA245 37.25%, #EB8174 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-button:focus {
  outline: none;
}

/* ---------- End of Hero Section ---------- */

/* ---------- Projects ---------- */

.projects-section {
  background-color: lightsalmon;
}

/* ---------- End of Projects ---------- */

.contact-section {
  background-color: lightskyblue;
}

/* ---------- Footer ---------- */

footer {
  background-color: lightyellow;
  display: flex;
  color: #bdbdbd;
}

/* ---------- End of Footer ---------- */

/* ---------- Mobile Menu ---------- */

.menu-button {
  display: none;
}

.menu-button button:focus {
  outline: none;
}

.mobile-nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 24px;
  display: none;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.mobile-nav-open {
  transform: translateX(0);
}

.mobile-nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.mobile-logo {
  margin-top: 0;
}

.close-button button {
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
}

.close-button button:focus {
  outline: none;
}

.mobile-nav-item {
  text-decoration: none;
  font-size: 2rem;
  color: #bdbdbd;
  display: block;
  margin-bottom: 24px;
}

.mobile-nav-item:active {
  color: #333;
}

.mobile-contact-button {
  border: none;
  background: linear-gradient(270deg, #FFE86C 0%, #FAA245 37.25%, #EB8174 100%);
  padding: 10px 36px;
  border-radius: 50px;
  color: white;
  font-size: 1.5rem;
  margin-top: 40px;
}

.mobile-contact-button:focus {
  outline: none;
}

/* ---------- Mobile Menu Breakpoint ---------- */

@media only screen and (max-width: 660px) {
  main {
    margin-top: 0;
  }

  header .logo {
    display: none;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    box-shadow: 0 2px 0 transparent;
    padding: 35px; 
  }

  .navigation {
    display: none;
  }

  .menu-button {
    display: inline;
    flex-grow: 1;
  }
  
  .menu-button button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
  }

  .mobile-nav {
    display: block;
  }
}

/* ---------- End of Mobile Menu ---------- */